.layout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.layout {
    height: 100%;
}
.layout-herder {
    background-color: rgb(248, 245, 245);
}
.layoutcolor {
    background-color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.layout-sider {
    background-color: #fff;
    // border-right: 1px solid #ebebeb;
    height: 100%;
}
.layoutAce {
    flex: 1;
    padding-top: 16px;
}
.layoutFooter {
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
