.login-container {
  background-image: url("../../assets/bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.login-container .pageHeader {
  padding-top: 30px;
  padding-left: 40px;
}

.login-container .pageHeader img {
  vertical-align: middle;
  display: inline-block;
  margin-right: 15px;
  height: 40px;
}

.login-container .pageHeader span {
  font-size: 18px;
  display: inline-block;
  vertical-align: -4px;
  color: white;
}

.login-container .login-box {
  position: absolute;
  left: 64vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  /*margin: 100px auto 0;*/
  width: 420px;
  background: #fff;
  padding: 45px 35px;
}

.login-container .login-box .option {
  text-align: left;
  margin-top: 18px;
}

.login-container .login-box .option .forget-pwd,
.login-container .login-box .option .goback {
  float: right;
  font-size: 14px;
  font-weight: 400;
  color: #4981f2;
  line-height: 20px;
  cursor: pointer;
}

.login-container .login-box .option .protocol {
  color: #4981f2;
  cursor: pointer;
}

.login-container .login-box .login-text {
  width: 100%;
  text-align: center;
  padding: 0 0 30px;
  font-size: 24px;
  letter-spacing: 1px;
}

.login-container .login-box .login-text span {
  padding: 10px;
  color: #969696;
  cursor: pointer;
}

.login-container .login-box .login-text span.active {
  font-weight: 600;
  color: #4981f2;
  border-bottom: 2px solid #4981f2;
}

.login-container .login-box .login-text span:hover {
  border-bottom: 2px solid #4981f2;
}

.login-container .login-box .login-text b {
  padding: 10px;
}

.login-container .login-box .title {
  font-weight: 600;
  padding: 0 0 30px;
  font-size: 24px;
  letter-spacing: 1px;
  color: #4981f2;
}

.login-container .login-box .input-box .input:nth-child(2), .login-container .login-box .input-box .input:nth-child(3) {
  margin-top: 20px;
}

.login-container .login-box .loginBtn {
  width: 100%;
  height: 45px;
  margin-top: 40px;
  font-size: 15px;
}

.login-container .login-box .input {
  padding: 10px 0px;
  font-size: 15px;
  width: 350px;
  color: #2c2e33;
  outline: none;
  border: 1px solid #fff;
  border-bottom-color: #e7e7e7;
  background-color: transparent;
}

.login-container .login-box input:focus {
  border-bottom-color: #0f52e0;
  outline: none;
  box-shadow: none;
}

.login-container .login-box .button {
  line-height: 45px;
  cursor: pointer;
  margin-top: 50px;
  border: none;
  outline: none;
  height: 45px;
  width: 350px;
  background: #d8d8d8;
  border-radius: 2px;
  color: white;
  font-size: 15px;
}

.login-container ::-webkit-scrollbar {
  width: 10px;
}

.login-container ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.login-container ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
  box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

.login-container ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}

.login-container ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bebebe;
  font-size: 16px;
}

.login-container ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bebebe;
  font-size: 16px;
}

.login-container :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bebebe;
  font-size: 16px;
}

.login-container input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #2c2e33;
}
