.site-layout-content {
    height: 100%;
    padding: 24px;
    background: #fff;
    overflow-y: auto;
}
.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
.ant-layout,
.layout {
    height: 100%;
}
.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
    padding: 24px;
}
.layout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: #fff;
}
.ant-spin-container,
.ant-spin-nested-loading {
    height: 100%;
}
